<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>Profile</title>
</head>
<body>
	<h1>Your Profile</h1>
	<table>
		<tr>
			<td>Username</td>
			<td th:text="${credentials.userName}"></td>
		</tr>
		<tr>
			<td>First Name</td>
			<td th:text="${loggedUser.firstName}">...</td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td th:text="${loggedUser.lastName}">...</td>
		</tr>
		<tr>
			<td>Role</td>
			<td th:text="${credentials.role}">...</td>
		</tr>
		<tr>
			<td>Registered at:</td>
			<td th:text="${loggedUser.creationDate}">...</td>
		</tr>
	</table>
	<form method="POST"
		th:action="@{/me/edit/form}">
		<button type="submit" name="submit" value="value">EDIT PROFILE</button>
	</form>
	<h3>
		<a href="/home">Home</a>
	</h3>
</body>
</html>